<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trialogue_Developer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AB13F5E1C3B2FC100BFFB4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB13F7A1C3B2FC100BFFB4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB13F851C3B2FC100BFFB4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
